 Volume in drive C is Windows
 Volume Serial Number is 5440-4EDC

 Directory of C:\Users\Leotard Niyonkuru\Documents\Jenkins Tutorial\workspace

09/04/2018  04:42 PM    <DIR>          .
09/04/2018  04:42 PM    <DIR>          ..
09/04/2018  04:42 PM                 0 .gitignore
09/04/2018  04:29 PM               905 helloWord.class
09/04/2018  04:27 PM               140 helloWord.java
               3 File(s)          1,045 bytes
               2 Dir(s)  107,565,596,672 bytes free
